<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <title>Your Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<div class="main">
    <div class="leftSiteBar" th:fragment="leftSiteBar">
        <nav class="blue-nav-bar-left">
            <span th:text="#{admin.panel}">Admin Panel</span>
        </nav>

        <div class="siteBarUpMenu">
            <h4 th:text="${name}"> </h4>
            <span th:if="${role == 'ROLE_USER'}">UŻYTKOWNIK</span>
            <span th:if="${role == 'ROLE_ADMIN'}">ADMINISTRATOR</span>
        </div>

        <div class="menuList">
            <ul>
                <p><b> MENU </b> </p>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Dodaj Plan </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/addTraining">
                        <div>
                            <span> Dodaj Trening </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Dodaj Ćwiczenia </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Dodaj 3 do usos </span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

        <div class="menuList">
            <ul>
                <p><b> Nawigacja </b> </p>
                <li>
                    <a href="/">
                        <div>
                            <span> Stronga główna </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Lista treningów </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Stronga główna </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Stronga główna </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/showTrainings">
                        <div>
                            <span> Stronga główna </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="right">
        <nav th:fragment="hamburger" class="blue-nav-bar-left" id="hamburger">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <div class="dashboard">
            <div class="dashboard-title">
                <h1> Panel Admina </h1>
            </div>

            <div class="table">

                <div class="box">

                    <div class="noteBox">
                        <div class="noteBox-content">
                            <div class="noteBox-integer">8</div>
                            <div class="noteBox-title">Plany treningowe</div>
                            <div class="noteBox-desc">Dodaj plan treningowy</div>
                        </div>
                    </div>
                    <div class="noteBox"></div>
                    <div class="noteBox"></div>
                    <div class="noteBox"></div>
                    <div class="noteBox"></div>
                    <div class="noteBox"></div>

                </div>

            </div>

        </div>
    </div>
</div>

</body>
</html>