<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <title>Your Page Title</title>
</head>
<body>

<div>
    <div class="grid1440">
        <div class="graybg"></div>

        <div class="content">
            <h1>H1</h1>
            <p>Paragraf</p>
        </div>

    </div>
</div>

<form action="/add" method="post">
    <label for="inputText">Wprowadź tekst:</label>
    <input type="text" id="inputText" name="inputText"/>

    <input type="submit" value="Prześlij"/>
</form>

</body>
</html>